body {
    font-family: Arial, Helvetica, sans-serif;
    background: #310404 url(https://i.pinimg.com/originals/f2/bf/43/f2bf432e3a5c7b14a2c97451e7c6c50f.gif) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
font-family: 'Barlow', sans-serif;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 300px;
    color: white;
}

.container {
    background-color: rgba(0, 0, 0, 0.9);
    max-width: 600px;
    margin:0 auto;
    padding: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 2px solid red; /* Adicione esta linha para a borda vermelha */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    border-radius: 15px;
    color: #fff;
}

.form-container {
    color: white;
    background-color: rgba(255, 255, 255, 0.2); /* Adicione esta linha para a cor de fundo transparente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Opcional: centraliza verticalmente na página */
    text-align: center;
}


.form-group {
    margin-bottom: 30px;
}

.form-btn {
    text-align: center;
    border: none;
    font-size: 10px;
    cursor: pointer;    
    }

a {
    color: red;
}